@import url(https://fonts.bunny.net/css?family=aclonica:400|arima:500);

:root {
    --primary: #ffffff;
    --secondary: #fc77b1;
    --black: #fdfdfd;
    --white: #212529;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Arima', display;
}

html {
    font-size: calc(16px + ((100vw - 600px) / 250));
    padding: 0;
    text-decoration-skip-ink: "auto";
    line-height: 1.953rem;
    margin: auto;
    min-height: 100%;
    overflow-x: hidden;
    max-width: 1140px
}

body {
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    background-color: var(--white);
    color: var(--black);
    caret-color: var(--black);
    word-wrap: break-word
}

h1 {
    font-family: 'Aclonica', sans-serif !important;
    margin-bottom: 1rem;
    margin-top: 1em;
    font-weight: bold;
    font-size: 3.052rem;
    letter-spacing: -0.15rem;
    line-height: 1
}

p {
    margin-bottom: 1.563rem
}

p>*:last-child {
    margin-bottom: 0
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #616060;
}

@media(hover:hover) {
    a:hover {
        text-decoration: underline
    }
}

a:focus-visible {
    outline: 2px solid var(--secondary);
    outline-offset: 3px;
    border-radius: 2px;
}

ol {
    list-style: decimal outside;
    padding-left: 1rem;
    margin-bottom: 1rem
}

li {
    list-style-position: inside
}

.hidden {
    display: none;
}

.nav-title {
    font-family: 'Aclonica', sans-serif !important;
}

.nav-title.transparent-title {
    color: transparent !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    line-height: 30px;
    font-size:medium;
    text-align: center;
    backdrop-filter: blur(10px);
}
